ion-content{
    --background: var(--ion-color-background);
}

ion-toolbar{
    --background: var(--ion-color-red);
}

ion-title{
    color: var(--ion-color-background);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.back-btn{
    color: var(--ion-color-background);
}