<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="red" ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
      Login 
    </ion-title> -->
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin">
    <ion-img src="assets/imgs/loginHeaderLogin.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
       Create Your Account 
      </ion-card-title>
      <!-- <ion-card-subtitle>
        Placeholder -instructions 
      </ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <div class="sign-in-btns">
        <ion-item ><ion-icon name="person-circle-outline"></ion-icon><ion-input [(ngModel)]="username" placeholder="Create a Username"></ion-input></ion-item>
        <ion-item class="pwdInput" ><ion-icon name="lock-closed-outline"></ion-icon><ion-input [(ngModel)]="password" placeholder="Create a Password"></ion-input></ion-item>
        <ion-button fill="solid" shape="round" class="login" (click)="createLogin()">Create Account</ion-button>
        <!-- <ion-button fill="outline" shape="round" class="create">Sign Up</ion-button> -->



      </div>
    </ion-card-content>
  </ion-card>

  <div>
    <p class="signUp">Already Have an Account?<a slot="center" class="signUpLink" (click) = "loginPage()">LOGIN</a></p></div>
    <div>