.scroll { 
    height: 100%
} 

#map {
width: 100%;
height: 100%; }


.close{
    --background: red;
}

ion-content{
    --background: var(--ion-color-background);
  }


ion-toolbar{
    --background: var(--ion-color-background);
    color: var(--ion-color-red);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.map-btn{
    --background: red;
}