<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Welcome</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-img src="assets/imgs/loginHeader.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Welcome
      </ion-card-title>
      <ion-card-subtitle>
       to the MBC Challenge!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="sign-in-btns">
        <ion-button fill="solid" shape="round" class="login" (click)="login()">Login</ion-button>
        <ion-button fill="outline" shape="round" class="create" (click)="signUp()">Sign Up</ion-button>



      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
